.arrowgreen{
	width: 180px; /*width of menu*/
	border-style: solid solid none solid;
	border-color: #013e69;
	/*border-size: 1px;*/
	border-width: 1px;
}
.arrowgreen ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.arrowgreen li a{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	display: block;
	background: transparent url(arrowblue2.jpg) 100% 0;/*OLD ARROWBLUE.GIF*/
    height: 17px; /*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	padding: 4px 0 4px 24px;
	line-height: 24px; /*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	text-decoration: none;
}	
	
.arrowgreen li a:link, .arrowgreen li a:visited {
	color: #013e69;
}

.arrowgreen li a:hover{
	color: #546511;
	background-position: 100% -32px;
}
.arrowgreen li a.selected{
	color: #013e69;
	background-position: 100% -64px;
}